
.paragraphDescription {
  font-size: 14px;
  color: antiquewhite;
  margin-top: -20px;
  padding-bottom: 21px;
}

.btnEnter {
  border: 2px solid;
  color: greenyellow;
  width: 100%;

  &:hover {
    background-color: transparent;
    color: greenyellow;
    transition: 0.4s;
  }
}

.creatAccount{
  text-decoration: none;
  color: aqua;

  &:hover{
    color: rgb(7, 192, 192);
    transition: .4s;
  }
}


@media(max-width:480px){
  .formBody{
    width: 350px;
    height: auto;
  }
  .footer{
    margin-top: 20px;
  }
}
@media(max-width:400px){
  .formBody{
    width: 280px;
    height: auto;
  }


}